build_xcode
utilities
scripts/create_cmakelists.command
scripts/new_class.command
scripts/new_header.command
externals/dcpp_memory/scripts/create_cmakelists.command
externals/dcpp_memory/scripts/new_class.command
externals/dcpp_memory/scripts/new_header.command
